<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
    
    <footer>
        {% block footer %}
        {% endblock %}
        {% if request.endpoint != 'index' %}
            <div class="footer-home">
                <a href="{{ url_for('index')}}" target="_self">HOME</a>
            </div>
        {% endif %}
        <div class="footer-rights">
            <p>2025 all rights reserved</p>
        </div>
    </footer>
</body>
</html>
