<!--inherits from base.html-->
{% extends "base.html" %}

<!--head-->
{% block head %}
<h1>Contact us for help</h1>
{% endblock %}
 

<!--body-->
{% block body %}
<div class="contact-section">
    <div class="email">
        <img src="" alt="email icon">
        <li>
            <ol>Adrianna</ol>
            <ol>Audra</ol>
            <ol>nur.samira.othman@student.mmu.edu.my</ol>
        </li>
    </div>

    <div class="contact">
        <img src="" alt="whatsapp icon">
        <li>
            <ol>Adrianna</ol>
            <ol>Audra</ol>
            <ol>+60-11 3770 3855</ol>
        </li>
    </div>
</div>



{% endblock %}


<!--footer-->
{% block footer %}

{% endblock %}