{% extends "base.html" %}

{% block body %}
<div class="contact-page">
    <h1>Contact us for help</h1>
    <div class="contact-container">
        <div class="contact-card">
            <h3>Adrianna</h3>
            <p>adrianna.zhalisha.azizan
                @student.mmu.edu.my</p>
        </div>

        <div class="contact-card">
            <h3>Audra</h3>
            <p>audra.helena.aathirah
                @student.mmu.edu.my</p>
        </div>

        <div class="contact-card">
            <h3>Samira</h3>
            <p>nur.samira.othman@
                student.mmu.edu.my</p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer">
    <a href="{{ url_for('contacts') }}" target="_self">Contact us for help</a>
</div>
{% endblock %}