{% extends "base.html" %}

{% block body %}
<div class="contact-page">
    <h1>Contact us for help</h1>
    <div class="contact-container">
        <div class="contact-card">
            <img src="email-icon.png" alt="email icon" class="contact-icon">
            <h3>Adrianna</h3>
            <p>adrianna.zhalisha.azizan
                @student.mmu.edu.my</p>
        </div>

        <div class="contact-card">
            <img src="email-icon.png" alt="email icon" class="contact-icon">
            <h3>Audra</h3>
            <p>audra@example.com</p>
        </div>

        <div class="contact-card">
            <img src="email-icon.png" alt="email icon" class="contact-icon">
            <h3>Samira</h3>
            <p>nur.samira.othman@
                student.mmu.edu.my</p>
        </div>
    </div>
</div>
{% endblock %}