<!--inherits from base.html-->
{% extends "base.html" %}


<!--head-->
{% block head %}
<title>MMU Museum of Hearts</title>
{% endblock %}
 


<!--body-->
{% block body %}
<a href="" target="_self">Tell us your story</a>
<a href="{{ url_for('search')}}" target="_self">Browse stories here</a>

<div class="map">
    <p>here will be the map</p>
</div>

<div class="cards">
    <p>here will be the cards</p>
</div>


{% endblock %}




<!--footer-->
{% block footer %}
<a href="{{ url_for('contacts')}}" target="_self">Contact us for help</a>
{% endblock %}