<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
  <script src="{{ url_for('static', filename='profile.js') }}"></script>

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>

  <div class="profile-header">
    <i class="fa-solid fa-user user-icon"></i>
    <h1>My Profile 💌</h1>
  </div>
    
    <div class="profile-card">
      <h2 id="nickname">{{ user.username }}</h2>
      <p id="email">{{ user.email }}</p>
    </div>

   <!-- editing profile -->
<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <h2>Edit Profile</h2>

    <form id="editForm" action="{{ url_for('update_username') }}" method="POST">
      <label for="newNickname">Change Nickname:</label>
      <input type="text" id="newNickname" name="nickname" value="{{ user.username }}" required>

      <div class="modal-buttons">
        <button type="submit" class="btn save-btn">Save Changes</button>
        <button type="button" class="btn cancel-btn">Cancel</button>
      </div>
    </form>
  </div>
</div>

<!-- delete confirmation modal -->
<div id="deleteModal" class="modal">
  <div class="modal-content">
    <span class="close-delete">&times;</span>
    <h2>Delete Profile</h2>
    <p>Are you sure you want to delete your profile? <br>
       This action cannot be undone ✉️</p>

    <div class="modal-buttons">
      <form action="{{ url_for('delete_profile') }}" method="POST">
        <button type="submit" id="confirmDelete" class="btn danger-btn">Yes, Delete</button>
      </form>
      <button type="button" class="btn cancel-delete">Cancel</button>
    </div>
  </div>
</div>

    <div class="button-group">
      <button class="btn edit-btn"><i class="fa-solid fa-pen"></i> Edit Profile</button>
      <button class="btn delete-btn"><i class="fa-solid fa-trash"></i> Delete Profile</button>
    </div>
  </div>

<script src="static/profile.js"></script>
</body>

<footer>
    {% if request.endpoint != 'index' %}
        <div class="footer-home">
            <a href="{{ url_for('index')}}" target="_self">HOME</a>
        </div>
    {% endif %}
    <div class="footer">
        <a href="{{ url_for('contacts') }}" target="_self">Contact us for help</a>
    </div>
    <div class="footer-rights">
        <p>2025 all rights reserved</p>
    </div>
</footer>
</html>
